#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

Breadcrumb { }

Breadcrumb .logout { }

Breadcrumb .logout>span{
    border: solid 1px red;
    color: white;
    padding-right: 25px;
}

.Breadcrumb .logout>Button{ }
