.msg-contention{}

.msg-contention>.msg-con-tit{}

.msg-contention>.msg-con-tit>.msg-title{}

.msg-contention>.msg-con-tit>.msg-title>.tit-box{}

.msg-contention>.msg-con-tit>.msg-title>.tit-box>.txt{}

.msg-contention>.msg-con-tit>.msg-title{ }

.msg-contention>.msg-con-tit>.msg-title>.tit-box{}

.msg-contention>.msg-con-tit>.msg-title>.tit-box>.txt{}

.msg-contention>.msg-con-tit>.msg-title>.tit-box>.txt .type{
    font-weight: bolder;
}

.msg-contention>.msg-con-tit>.msg-title>.tit-box>.txt .prep{
    padding: 0 10px;
}

.msg-contention>.msg-con-tit>.msg-title>.tit-box>.txt .time{
    color: var(--v1-clr-a2);
}

.msg-contention>.msg-con-tit>.msg-title>.tit-box>.time{}

.msg-contention>.msg-con-tit>.msg-title>.tit-box>.time span{
    color: var(--v1-clr-e2);
}

.msg-contention>.msg-con-tit>.msg-title>.tit-box>.time span{}


.msg-contention>.msg-con-txt{}

.msg-contention>.msg-con-txt>.msg-txt{
    margin-top: 15px;
}

.msg-contention>.msg-con-txt>.msg-txt span.txt{}

.msg-contention>.msg-con-opera{}
