.chat {
    --v1-clr-a1: #336699;
    --v1-clr-a2: #0066CC;
    --v1-clr-a3: #00CCFF;
    --v1-clr-b1: #009999;
    --v1-clr-b2: #00CC99;
    --v1-clr-b3: #33FFCC;
    --v1-clr-c1: #FF9966;
    --v1-clr-c2: #FFCC99;
    --v1-clr-d1: #FF6666;
    --v1-clr-d2: #FF3366;
    --v1-clr-e1: #999999;
    --v1-clr-e2: #aaaaaa;
    --v1-clr-e3: #eeeeee;
    --v1-clr-f1: #666666;
    --v1-clr-f2: #333333;
}

.chat .chat-box{
    background-color: var(--v1-clr-e3);
    border: solid 1px var(--v1-clr-a2);
    box-shadow: 0 0 5px var(--v1-clr-e2);
    border-radius: 10px 10px 0 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 400px;
}

.chat-tit {
}

.chat-tit>.tit{
    background-color: white;
    height: 70px;
    padding-top: 21px;
}

.chat-tit>.tit .tit-img,
.chat-tit>.tit .tit-txt{
    display: inline-block;
    padding-left: 21px;
}

.chat-tit>.tit .tit-img img{
    content: url("../img/pic-1.jpg");
    border-radius: 40px;
    height: 28px;
    width: 28px;
}

.chat-tit>.tit .tit-txt{
    font-weight: bolder;
}

.chat-tit>.tit .tit-txt span{

}

.chat-body {
    border: solid 1px red;
    height: 500px;
    overflow: scroll;
    padding-top: 0;
}
