.chat {
    --v1-clr-a1: #336699;
    --v1-clr-a2: #0066CC;
    --v1-clr-a3: #00CCFF;
    --v1-clr-b1: #009999;
    --v1-clr-b2: #00CC99;
    --v1-clr-b3: #33FFCC;
    --v1-clr-c1: #FF9966;
    --v1-clr-c2: #FFCC99;
    --v1-clr-d1: #FF6666;
    --v1-clr-d2: #FF3366;
    --v1-clr-e1: #999999;
    --v1-clr-e2: #aaaaaa;
    --v1-clr-e3: #eeeeee;
    --v1-clr-f1: #666666;
    --v1-clr-f2: #333333;
}

.chat .chat-box {
    background-color: var(--v1-clr-e3);
    border: solid 1px var(--v1-clr-a2);
    box-shadow: 0 0 5px var(--v1-clr-e2);
    border-radius: 10px 10px 0 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 400px;
}

.chat-tit {
}

.chat-tit > .tit {
    background-color: white;
    cursor: pointer;
    height: 70px;
    padding-top: 21px;
}

.chat-tit > .tit:hover {
    animation-name: tit-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes tit-hover {
    from {
        background-color: white;
    }
    to {
        background-color: var(--v1-clr-b1);
    }
}

.chat-tit > .tit .tit-img,
.chat-tit > .tit .tit-txt {
    display: inline-block;
    padding-left: 21px;
}

.chat-tit > .tit .tit-img img {
    content: url("../img/pic-1.jpg");
    border-radius: 40px;
    height: 28px;
    width: 28px;
}

.chat-tit > .tit .tit-txt {
    font-weight: bolder;
    content: element("sdfsdf");
}

.chat-tit > .tit .tit-txt span {

}

.chat-tit > .tit .up,
.chat-tit > .tit .down {
    float: right;
    padding: 5px 20px 0 0;
}

.chat-tit > .tit .up{
    display: none;
}

.chat > .chat-box.clicked .chat-tit > .tit .up {
    display: inline-block;
}

.chat > .chat-box.clicked .chat-tit > .tit .down {
    display: none;
}

.chat-tit > .tit .up {

}

.chat > .chat-box.clicked .chat-body {
    display: none;
}

.chat-body {
    height: 500px;
    /*overflow: scroll;*/
    padding-top: 0;
    position: relative;
}

.chat-body.messages,
#input-con. {
    display: inline-block;
}

.chat-body .messages {
    height: 457px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.chat-body.open-app .messages {
    height: 360px;
}

#input-con {
}

#input-con .panel-app{
    display: none;
}

.open-app #input-con .panel-app{
    display: block;
}
