.booking{

}

.booking .pic{

}

.booking .name{
    text-align: center;
}

.booking .name label{
    font-size: 7px;
    font-weight: bolder;
    width: 100%;
}

.booking .feature{ }

.booking .feature .feature-box{
    padding: 30px;
    padding-top: 0;
}

.booking .feature .feature-box>*{
    margin-bottom: 20px;
}

.booking .feature .feature-box .feature-ctl{
    display: inline-block;
    padding-left: 20px;
    width: 272px;
}

.booking .feature .feature-box>*>label{
    color: var(--v1-clr-a2);
    display: inline-block;
    font-weight: bolder;
    line-height: 50px;
    text-align: right;
    width: 65px;
}

.booking .feature .feature-box .time-picker{

}

.booking .feature .feature-box .input-txt{

}

.booking .feature .feature-box .select-radio .ant-radio-button-wrapper-checked{
    background-color: var(--v1-clr-a2);
    color: white;
}

.booking .feature .feature-box .confirm{
    text-align: right;
}

.booking .feature .feature-box .confirm .btn{
    display: inline-block;
    margin-left: 20px;
}
